/nate-ward.com/.vs/nate-ward.com/v16/Server/sqlite3/storage.ide
/nate-ward.com/.vs/nate-ward.com/v16/Server/sqlite3/storage.ide-shm
/nate-ward.com/.vs/nate-ward.com/v16/Server/sqlite3/storage.ide-wal
*.lock
