@page "/"
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12">
            <h1>Hello, world!</h1>
            <em>Welcome to my new app!</em><p>
                Here I'll explore creating my own website and solutions to everyday problems within a blazor application.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12" style="width: 18rem;">
            <img src="/img/NathanW_1.jpg" class="img-fluid rounded img-thumbnail" alt="picture of Nate Ward">
            <div class="">
                <h2 class="">Nate Ward</h2>
                <h3>Support Team Lead</h3>
                <p class="">Hi, I'm an application developer and suport team lead at thunder::tech. My primary duties entail overseeing our support team and managing our clients feature requests and IT related issues. I also work in our Application Development team to provide larger scale server side solutions for websites, middleware, as well as other applications. I really love programming and solving problems, and if I had to pick .NET is my favorite to work with at the moment!</p>
                <a href="https://thundertech.com" class="btn btn-info">Check out thunder::tech!</a>
            </div>
        </div>
    </div>
</div>